<div class="container">
  <div class="card box" fxLayout>

    <div class="items" fxFlexOrder.lt-lg="2" fxFlexOrder.gt-md="1">
      <mat-card>

        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>

      </mat-card>
    </div>

    <div class="items" fxFlexOrder.lt-lg="1" fxFlexOrder.gt-md="2" fxHide.lt-md>
      <mat-card>

        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain,The Shiba Inu is the smallest
            of the six original A small, agile dog that copes very well with mountainous terrain, the Shiba
            Inu was originally bred for hunting. The Shiba Inu is the smallest of the six original and
            distinct spitz breeds of dog from Japan. A small
          </p>
        </mat-card-content>

      </mat-card>
    </div>



  </div>
</div>
